*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #5e534c;
}


/*Header*/

header{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0.5em;
}

nav{
    display: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: flex;
    flex-direction: column;
}

nav li a{
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 1em 0;
}

nav .some li{
   display: inline-block;
   margin-top: 0.8em;
}

.logo{
    height: 4vh;
    display: flex;
    justify-self: center;
}

input[type=search]{
    display: none;
}

#bars, #search-btn, #kurv{
    border: none;
    background-color: transparent;
}

#bars i, #search-btn i, #kurv i{
    font-size: 20px;
    color: #30302f;
}

#search.show-search{
    display: block;
    position: absolute;
    top: 59px;
    right: 0;
    background-color: #fff;
    width: 40%;
    height: 70px;
}



/*Hovedindhold*/

main{
    background-color: #5e534c;
}

.banner{
    background-image: url(../img/barbering01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
   color: #fff;
   font-size: 28px;
   font-family: 'Lora', serif;
   font-weight: 400;
   text-align: center;
   padding: 0.3em;
   text-shadow: 2px 2px #30302f;
}

h2{
    color: beige;
    text-align: center;
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

h3{
    color: beige;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 200;
}

main a, main p{
    color: beige;
    font-family: 'Lora', serif;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
}

.kategorier{
    margin: 1em;
    margin-right: 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid beige;
}

.pakker, .barbering, .saeber, .shampoo{
    margin: 1.3em 0;
}

.slider{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 0.8em;
    margin-top: 0.5em;
}

.produkt{
   min-width: 40%;
}

.sliderbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}

.se-alle{
    background-color: #657786;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-self: center;
    min-width: max-content;
    max-height: fit-content;
    margin: 0 1em 0 0.8em;
    box-shadow: 3px 3px 0.5em #30302f79;
}

.se-alle a{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid beige;
    margin: 36px 22px;
}

.all-grid{
    display: grid;
    grid: repeat(7, 1fr)/1fr 1fr;
    gap: 0.8em;
    padding-bottom: 1.5em;
    margin: 1em;
}

.gridbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}



/*Nyhedsbrev*/

.nyhedsbrev{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e534c;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
    padding: 1.5em 1em;
    margin: 1em 0;
}

.nyhedsbrev h2{
    font-size: 22px;
    font-family: 'Lora', serif;
    font-weight: 300;
    margin-bottom: 1.3em;
}

.nyhedsbrev p{
    color: beige;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    text-align: center;
}

.nyhedsbrev-input{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

input[type=email]{
    border: 1px solid #30302f;
    border-radius: 180px;
    padding: 14px 160px 14px 20px;
    margin-bottom: 1em;
}

input[type=submit]{
    background-color: beige;
    color: #30302f;
    border: none;
    border-radius: 180px;
    padding: 14px 90px 14px 90px;
    margin-bottom: 1em;
}



/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    background-color: #fff;
    padding: 1.3em 1em;
}

footer section{
    display: flex;
    flex-direction: column;
}

footer h3{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

footer ul{
    list-style: none;
}

footer li{
    font-family: 'Source Sans 3', sans-serif;
}

footer li a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.footer-some li{
    display: inline-block;
}



/*Andet*/

.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}



/*Mobil*/

@media screen and (max-width: 768px){
    .show{
        display: block;
        position: absolute;
        top: 49px;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 1em 0;
    }
}



/*Desktop*/

@media screen and (min-width: 769px) {
    header{
        border-bottom: 1px solid #657786;
    }
    
    #bars{
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav li{
        display: inline-block;
        padding: 0.3em 1.3em;
    }

    nav li a{
        font-size: 16px;
    }

    .some{
        display: none;
    }

    .banner{
        min-height: 300px;
    }

    .kategorier{
        margin: 1.5em 2em;
        margin-right: 0;
    }

    .produkt{
        max-height: 5%;
    }

    .nyhedsbrev{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }


    footer{
        flex-direction: row;
        justify-content: space-around;
        gap: 40px;
    }
}