*{
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: #5e534c;
}




/*Header*/


header{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0.5em;
}


nav{
    display: none;
}


nav ul{
    list-style: none;
}


nav li{
    display: flex;
    flex-direction: column;
}


nav li a{
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 1em 0;
}


nav .some li{
   display: inline-block;
   margin-top: 0.8em;
}


.logo{
    height: 4vh;
    display: flex;
    justify-self: center;
}


input[type=search]{
    display: none;
}


#bars, #search-btn, #kurv{
    border: none;
    background-color: transparent;
}


#bars i, #search-btn i, #kurv i{
    font-size: 20px;
    color: #30302f;
}


#search.show-search{
    display: block;
    position: absolute;
    top: 59px;
    right: 0;
    background-color: #fff;
    width: 40%;
    height: 70px;
    z-index: 90;
}






/*Hovedindhold*/


.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}




main{
    background-color: #5e534c;
}


p{
    overflow-wrap: break-word;
    word-break: break-word;
}


.produkt p,
.gridprodukt p{
    text-align: center;
    max-width: 100%;
}


.banner{
    background-image: url(../img/barbering01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
   color: #fff;
   font-size: 28px;
   font-family: 'Source Sans 3', sans-serif;
   font-weight: 400;
   text-align: center;
   padding: 0.3em;
   text-shadow: 2px 2px #30302f;
}


h2{
    color: beige;
    text-align: center;
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 2em;
}


h3{
    color: beige;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 200;
}


main a, main p{
    color: beige;
    font-family: 'Lora', serif;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
}


.kategorier{
    margin: 1em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid beige;
}


.pakker, .barbering, .saeber, .shampoo{
    margin: 1.3em 0;
}


.slider{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
    gap: 0.8em;
    margin-top: 0.5em;
}


.slider::-webkit-scrollbar{
    display: none;                /* fjerner scrollbar */
}


.produkt{
   flex: 0 0 auto;
   width: 160px;
}

.produkt a p, .gridprodukt a p{
    margin-top: 4px;
}


.sliderbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
    display: block;
}


.se-alle{
    background-color: #657786;
    border: 1px solid #657786;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-self: center;
    min-width: max-content;
    max-height: fit-content;
    margin: 0 1em 0 0.8em;
    box-shadow: 3px 3px 0.5em #30302f79;
}


.se-alle a{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid beige;
    margin: 36px 22px;
}


.all-grid{
    display: grid;
    gap: 0.8em;
    padding-bottom: 1.5em;
    margin: 1em;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: 2rem auto;
}


.gridbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

.add{
    font-size: 12px;
    color: #657786;
    background-color: #ffffffd6;
    border: none;
    border-radius: 180px;
    padding: 8px 7px;
    position: relative;
    bottom: 35px;
    left: 78%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}





/*Nyhedsbrev*/


.nyhedsbrev{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e534c;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
    padding: 1.5em 1em;
    margin: 1em 0;
}


.nyhedsbrev h2{
    font-size: 22px;
    font-family: 'Lora', serif;
    font-weight: 300;
    margin-bottom: 1.3em;
}


.nyhedsbrev p{
    color: beige;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    text-align: center;
}


.nyhedsbrev-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}


input[type=email]{
    border: 1px solid #30302f;
    border-radius: 180px;
    margin-bottom: 1em;
}


input[type=submit]{
    background-color: beige;
    color: #30302f;
    border: none;
    border-radius: 180px;
    margin-bottom: 1em;
}


input[type=email],
input[type=submit]{
    width: 100%;
    max-width: 320px;
    padding: 14px 20px;
}






/*Footer*/


footer{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    background-color: #fff;
    padding: 1.3em 1em;
}


footer section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


footer h3{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}


footer ul{
    list-style-type: none;
    padding: 0;
}


footer li{
    font-family: 'Source Sans 3', sans-serif;
    margin-bottom: 3px;
}


footer li a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.footer-kontakt li:nth-of-type(1){
    font-weight: 600;
    color: #657786;
}

.footer-some li{
    display: inline-block;
}

.footer-some li a{
    color: #30302f;
}





/*Andet*/


.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.til-toppen{
    position: fixed;
    bottom: 5%;
    right: 7%;
    z-index: 10;
}

.til-toppen a{
    color: #fff;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 10px 8px;
    border-radius: 180px;
    border: 1px solid #000;
}

.til-toppen a:hover{
    background-color: #30302f;
    transition: 0.2s ease-in-out;
}



/*Mobil*/


@media screen and (max-width: 768px){
    .show{
        display: block;
        position: absolute;
        top: 49px;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 1em 0;
        z-index: 100;
    }
}






/*Desktop*/


@media screen and (min-width: 769px) {
    header{
        border-bottom: 1px solid #657786;
    }
   
    #bars{
        display: none;
    }


    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    nav li{
        display: inline-block;
        padding: 0.3em 1.3em;
    }


    nav li a{
        font-size: 16px;
    }

    nav li a:hover{
        color: #657786;
        text-decoration: underline;
        transition: 0.2s ease-in;
    }


    .some{
        display: none;
    }


    .banner{
        min-height: 300px;
    }

    h1{
        font-size: 32px;
    }


    .kategorier{
        margin: 1.5em 2em;
        margin-right: 0;
    }


    .produkt{
        max-height: 5%;
    }

    .produkt a:hover, .gridprodukt a:hover{
        text-decoration: underline;
    }

    .se-alle:hover{
        background-color: #8A9AA4;
        box-shadow: 3px 3px 0.7em #30302f8e;
        transition: 0.3s ease-in-out;
    }

    .add:hover{
        color: #30302f;
        background-color: #fff;
        transition: 0.2s ease-in-out;
        cursor: pointer;
    }



    .nyhedsbrev{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5em 1em;
    }

    .nyhedsbrev h2{
        text-align: left;
        max-width: 55%;
    }

    .nyhedsbrev p{
        text-align: left;
    }

    .nyhedsbrev-input{
        flex-direction: row;
    }

    input[type=submit]{
        padding: 14px 16px;
    }

    input[type=email]{
        padding: 14px 120px 14px 20px;
        margin-right: 8px;
    }

    input[type=submit]:hover{
        text-decoration: underline;
        cursor: pointer;
    }



    footer{
        flex-direction: row;
        justify-content: space-around;
        gap: 40px;
    }

    .footer-some ul{
        margin-top: 8px;
    }

    .footer-some a{
        font-size: 24px;
        padding: 10px 4px 0 0;
    }

    .footer-kontakt a:hover, .footer-om a:hover, .footer-info a:hover{
        color: #657786;
    }

    .fa-facebook-f:hover, .fa-facebook-f a:hover{
        color: #1877F2;
    }

    .fa-instagram:hover, .fa-instagram a:hover{
        background: #833ab4;
        background: linear-gradient(to bottom right,
       #833ab4,#fd1d1d,#fcb045);
        background-position: center;
        background-clip: text;
        background-size: contain;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    .fa-pinterest-p:hover, .fa-instagram a:hover{
        color: #E60023;
    }

    .fa-tiktok:hover{
        color: #000;
    }
}
