*{
    box-sizing: border-box;
    margin: 0;
}


/*Header*/

header{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0.5em;
}

nav{
    display: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0.3em 1em;
}

nav li a:hover{
    color: #30302f;
    border-bottom: 2px solid #000;
}

.logo{
    height: 4vh;
    display: flex;
    justify-self: center;
}

.visually-hidden{
    display: none;
}

#search{
    display: none;
}

#bars, #search-btn, #kurv{
    border: none;
    background-color: transparent;
}

#bars i, #search-btn i, #kurv i{
    font-size: 20px;
    color: #30302f;
}



/*Hovedindhold*/

main{
    background-color: #5e534c;
}

.banner{
    background-image: url(../img/barbering01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
   color: #fff;
   font-size: 28px;
   font-family: 'Lora', serif;
   font-weight: 400;
   text-align: center;
   padding: 0.3em;
   text-shadow: 2px 2px #30302f;
}

h2{
    color: beige;
    text-align: center;
    font-family: 'Source Sans 3', 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

h3{
    color: beige;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 200;
}

main a, main p{
    color: beige;
    font-family: 'Lora', serif;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
}

.kategorier{
    margin: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid beige;
}

.pakker, .barbering, .saeber, .shampoo{
    margin: 1.3em 0;
}

.slider{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 0.8em;
    margin-top: 0.5em;
}

.produkt{
   min-width: 40%;
}

.sliderbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}

.se-alle{
    background-color: #657786;
    border-radius: 50%;
    display: flex;
    align-items: center;
    min-width: max-content;
    max-height: fit-content;
    margin: 7% 0.8em 0 0.8em;
    box-shadow: 3px 3px 0.5em #30302f79;
}

.se-alle a{
    text-align: center;
    font-size: 16px;
    margin: 36px 22px;
}

.all-grid{
    display: grid;
    grid: repeat(7, 1fr)/1fr 1fr;
    gap: 0.8em;
    margin: 0.8em;
}

/*.all-grid h2{
    width: 100%;
}

.gridprodukt{
    padding: 0.5em 0.8em 0.5em 0;
    max-width: 47%;
}*/

.gridbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}



/*Footer*/

footer{
    width: 100%;
}