*{
    box-sizing: border-box;
    margin: 0;
}


/*Header*/

header{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0.3em 1em;
}

nav li a:hover{
    color: #30302f;
    border-bottom: 2px solid #000;
}

.logo{
    width: 40%;
}

.visually-hidden{
    display: none;
}

#search{
    display: none;
}

#bars, #search-btn, #kurv{
    border: none;
    background-color: transparent;
}

#bars i, #search-btn i, #kurv i{
    font-size: 16px;
}



/*Hovedindhold*/

main{
    background-color: #5e534c;
    color: #fff;
}

.banner{
    background-image: url(../img/barbering01.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 12vh;
}

h1{
   font-size: 5vw;
   font-family: 'Lora', sans-serif;
   font-weight: 400;
   text-align: center;
   padding: 0.3em;
}

h2{
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 3vw;
    font-weight: 300;
}

.kategorier{
    margin: 0.8em;
}

.slider{
    display: inline-flex;
    overflow-x: scroll;
}

.produkt{
    width: 35%;
}

.sliderbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
}

.all-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0.8em;
}

.all-grid h2{
    width: 100%;
}

.gridprodukt{
    padding: 0.5em 0.8em 0.5em 0;
    max-width: 47%;
}

.gridbillede{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}



/*Footer*/

footer{
    width: 100%;
}